:root {
  --pink-color: rgb(255, 99, 186);
  --background-color: hsla(327, 100%, 69%, 0.11);
  --light-pink: hsla(327, 98%, 76%, 0.782);
  --white: rgb(249, 233, 242);
  --yellow: #ffbe0b;
  --orange: #fb5607;
  --violet: #8338ec;
  --blue: hsl(217, 100%, 61%);
  --border-radius: 30px;
  --box-sizing: border-box;
  --button-padding: 30px 40px;
  --button-radius: 20px;
}

body {
  background-color: var(--background-color) !important;
}

.Projects {
  margin-bottom: 2rem;
  text-align: center;
}

.Projects h1 {
  margin: 0 auto;
  font-weight: 700;
  width: 30rem;
  color: var(--violet);
  opacity: 0.8;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  text-align: center;
  box-sizing: border-box;
  padding: 5px 1rem 1rem 1rem;
}
.Projects .row {
  justify-content: center;
  margin: 0 auto;
  padding-top: 1rem;
}

.Projects .card {
  margin: 1rem;
  align-items: center;
  padding: 1rem;

  text-align: center;
  transition: 4s;
}
.Projects .card:hover {
  background-color: var(--pink-color);
  border-radius: 50%;
  opacity: 0.9;
  transform: scale(110%);
}

.Projects figure {
  display: flex;
  justify-content: center;
  max-width: 33rem;
  border-radius: var(--border-radius);
  padding: 1rem;
  background-color: var(--white);
}

.horizontal-img {
  max-width: 20rem;
  align-self: center;
}
.Projects figure img {
  border-radius: var(--border-radius);
  transition: 2s;
}
.Projects figure img:hover {
  transform: scale(105%);
  border-radius: 4px;
}

.SecondProject figure img {
  width: 35rem;
  height: 18rem;
}

.card .card-body button {
  background-color: var(--violet);
  border-radius: var(--border-radius);
  box-sizing: var(--box-sizing);
  padding: 15px 45px;
  border: none;
  transition: 2s;
}

.card .card-body button:hover {
  background-color: var(--blue);
  color: var(--orange);
  border-radius: 4px;
}

.card .card-body button a {
  font-size: 20px;
  color: var(--white);
  font-weight: 900;
  text-decoration: none;
  opacity: 0.7;
}

.card-body .card-title {
  font-weight: 900;
  font-size: 20px;
  background-color: var(--violet);
  color: var(--white);
  padding: 10px;
  opacity: 0.7;
  border-radius: var(--border-radius);
}
